{% extends 'base.html.twig' %}
{% block title %}WeMovie{% endblock %}
{% block body %}
    <div class="body-container">
        <div>
            <div class="movie-container-search">
                <div class="page-header">
                    <h3>Results for {{ search }}:</h3>
                    <a href="{{ path('app_home') }}">
                        <button class="btn btn-danger">Back to home</button>
                    </a>
                </div>
                <div>
                    {% if movies is not empty %}
                        {% for movie in movies %}
                            <div class="box-movie-container">
                                <div class="box-movie-header">
                                    <div class="movie-title">
                                        <span>{{ movie.title }}</span>
                                    </div>
                                    <div class="movie-rating">
                                        {% for i in 1..5 %}
                                            {% if i > movie.rating/2 %}
                                                <span class="fa fa-star"></span>
                                            {% else %}
                                                <span class="fa fa-star checked"></span>
                                            {% endif %}
                                        {% endfor %}
                                        <span>(  {{ movie.voteNumber }} votes )</span>
                                    </div>
                                </div>
                                <div class="movie-details">
                                    <span>{{ movie.releaseDate|date('Y') }}</span>
                                    {% for producer in movie.producers %}
                                        <span>{{ producer.name }}</span>
                                    {% endfor %}
                                </div>
                                <div class="movie-description">
                                    <p>
                                        {{ movie.description|length > 200 ? movie.description|slice(0, 200) ~ '...' : movie.description }}
                                    </p>
                                </div>

                                <div class="movie-footer" {{ stimulus_controller('modal-form') }}>

                                    <button class="btn btn-primary" id="{{ movie.id }}"
                                            data-action="modal-form#openModal">Show details
                                    </button>
                                    {{ include('modal/_modal.html.twig',{
                                        modalId: movie.id,
                                        modalProducers: movie.producers,
                                        modalRating: movie.rating,
                                        modalNbVote: movie.voteNumber,
                                        modalTitle: movie.title,
                                        modalDescription: movie.description,
                                        modalReleaseDate: movie.releaseDate
                                    }) }}
                                </div>
                            </div>

                        {% endfor %}

                    {% else %}
                        No movies found
                    {% endif %}

                </div>
            </div>

        </div>


    </div>
{% endblock %}
